.password{
    background-color: #f6f5f3;
    font-style: knile;
    color: #646068;
    text-align: left;
}

@media (min-width:763px) {
    .password {
        padding-left: 250px;
    }
}

.btn.btn-primary {
    background-color: #5e10b1;
    border-color: #5e10b1;
    color: #fff; /* Text color */
  }
